.container {
   
    display: flex;
    height: 100%;
  }
  
  .sidebar {
    width: 25%;
    border-right: 0.1vw solid #d1d5db;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    background-color: #FFFFFF;
    
  }
  
  .sidebar h1 {
    padding: 1.15vw;
    font-size: 1.25rem;
    font-weight: 600;
  }
  
  
   .add-button button {
    position: fixed;
    background-color: #16008B;
    color: white;
    border: none;
    bottom: 5%;
    left: 19%;
    border-radius: 50%;
    width: 3.5vw;
    height: 3.5vw;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
  }
  
  .main-content {
    width: 75%;
    background-color: #e0f2fe;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    overflow-y: auto; }
  
  .main-content h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.15vw;
  }
  
  .main-content p {
    margin-bottom: 2.5vw;
  }
  
  .main-content .encryption {
    color: #4b5563;
    display: flex;
    align-items: center;
  }
  
  .main-content .encryption i {
    margin-right: 0.7vw;
  }

 
 .backgroundImage{
    margin-top: auto;
    width: 50%;
    height: 40%;
 }
  
#Poketnote{
    font-size: 3vw;
}

#PoketMassage{
    font-size: 1.3vw;

}

.encryption{
    margin-top:auto;
}






.notebook-list {
 
  overflow-y: auto; 
  
}

.notebook-list::-webkit-scrollbar {
  width: 0; 
}


.notebook-list:hover::-webkit-scrollbar {
  width: 0.3vw; 
}

.notebook-list::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

.notebook-list::-webkit-scrollbar-thumb {
  background: #DAE5F5;

  border-radius: 1vw; 
}
.notebook-list::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.notebook-item {
  display: flex;
  align-items: center;
  padding: 0.8vw;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.notebook-item:hover {
  background-color: rgba(47, 47, 47, 0.17);

  border-radius: 1.15vw;
}

.notebook-icon {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 1.1vw;
  margin-right: 1vw;
}

.notebook-item span {
  font-size: 1.19vw;
  color: #333;
}