

  

  
 
  
  .mobpopup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    
  }
  
  .mobpopup {
    width: 88%;
    height: 60vw;
    display: flex;
    flex-wrap: wrap;
    background: white;
    padding: 2vw;
    border-radius: 3vw;
    
    box-shadow: 0 8vw 2vw rgba(0, 0, 0, 0.2);
  }
  
  .mobpopup h2 {
    width: 100%;
    margin-top: 0;
   

  }
  .mobpopup #l1{
    font-size: 4vw;
    font-weight: bold;
    margin-top: 3vw;
    
  }

  .mobpopup #l2{
    font-size: 4vw;
    font-weight: bold;
    
  }
  
  .mobpopup input {
  
    width: 64%;
    padding: 1.2vw;
    font-weight:500;
    margin-bottom: 8vw;
    
    border: .5vw solid #ccc;
    border-radius: 2vw;
    font-size: 3vw;

  }
  
  .mobcolor-options {
    margin-left: 2.6vw;
    width: 64%;
    display: flex;
    gap: 1vw;
    margin-bottom: 2vw;
    
  }
  

  .mobcolor-circle{
    -webkit-tap-highlight-color: transparent; 
  }
  
  .mobcolor-circle {
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
 
    
  }
  
  .mobcreate-button {
    margin:auto;
    width: 40%;
    padding: 1vw;
    background-color: rgba(0, 31, 139, 1);
    color: white;
    border: none;
    border-radius: 1.2vw;
    font-size: 6vw;
   
   
  }
  